<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>End of Day Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='end_day_report.css') }}">
</head>
<body>
    {% include 'dashboard.html' %}
    <header id="typewriter-header">
        <h1> End Day Report</h1>
    </header>
    
    <div class="container">
        <main class="content">
            <!-- Filter and Sorting Options -->
            <div class="filter-sort">
                <a href="{{ url_for('download_csv') }}"><button id="csvDownload">Download CSV</button></a>
                <a href="{{ url_for('download_pdf') }}"><button id="pdfDownload">Download PDF</button></a>
            </div>
            <ul class="responsive-table" id="report-table">
                <li class="table-header">
                    <div class="col col-1" onclick="sortTable(0)">Product Name </div>
                    <div class="col col-2" onclick="sortTable(1)">Stock Quantity</div>
                    <div class="col col-3" onclick="sortTable(2)">Sold Quantity</div>
                    <div class="col col-4" onclick="sortTable(3)">Expiry Date </div>
                </li>
                {% for item in report_data %}
                <li class="table-row">
                    <div class="col col-1" data-label="Product Name">{{ item.name }}</div>
                    <div class="col col-2" data-label="Stock Quantity">{{ item.quantity }}</div>
                    <div class="col col-3" data-label="Sold Quantity">{{ item.sold_quantity }}</div>
                    <div class="col col-4" data-label="Expiry Date">{{ item.expiry_date }}</div>
                </li>
                {% else %}
                <li class="table-row">
                    <div class="col" colspan="4">No report data available.</div>
                </li>
                {% endfor %}
            </ul>
        </main>
        <aside class="sidebar-right">
            <h2>To Do</h2>
            <ul>
                <form action="/save_end_day" method="post">
                    <label for="end_day_product">Baked Product:</label>
                    <select id="end_day_product" name="end_day_product" required>
                        {% for item in report_data %}
                        <option value="{{ item._id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                
                    <label for="sold_quantity">Sold Quantity:</label>
                    <input type="number" id="sold_quantity" name="sold_quantity" min="0" required>
                
                    <button type="submit">Save</button>
                </form>
                
                          
            </ul>
        </aside>
    </div>

    <script src="{{ url_for('static', filename='end_day_report.js') }}"></script>
</body>
</html>
