<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Register</title>
</head>
<body>

    <style>
        body {
            background-image: url('{{ url_for('static', filename='images/image1.png') }}');
            background-size: cover;
            background-repeat: no-repeat; 
        }
    </style>
    <div class="background-image"></div>
    <div class="container">
        <h2 class="heading">Register</h2>
        <form action="/register" method="POST">
            <div class="input-group">
                <input type="text" class="ele" name="username" required placeholder="youremail@example.com ">
                <label>Username</label>
            </div>
            <div class="input-group">
                <input type="password" class="ele" name="password" required placeholder=" Enter your password">
                <label>Password</label>
            </div>
            
            <button type="submit" class="clkbtn">Register Now</button>
        </form>
       
    </div>
</body>
</html>
